<p-panel header="Pipes No Comunes" class="p-1">
  <p>Pipes incluidos en Angular - No muy comunes</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saludo {{ name }}, {{ gender | i18nSelect : welcomeMap }} a nuestro
        evento.
      </p>
      <p-button (click)="changeClient()" label="Cambiar  Femenino"></p-button>
      <p-button
        class="mx-2"
        (click)="changeGender()"
        label="Cambiar  Masculino"
      ></p-button>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>
        Actualmente
        {{ clients.length | i18nPlural : clientsMap }} esperando.
      </p>
      <p-button (click)="deleteClient()" label="Borrar Cliente"></p-button>
      <p-button
        class="mx-2"
        (click)="addClient()"
        label="Agregar Cliente"
      ></p-button>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>
        Original:
        <pre>{{ clients }}</pre>
      </b>
      <b>
        Slice:0:3
        <pre>{{ clients | slice : 0 : 3 }}</pre>
      </b>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true"> </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true"> </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true"> </p-fieldset>
  </div>
</div>
